.jumbotron{
  text-align: center;
  /* opacity: 0.5px; */
  background: rgba(76, 175, 80, 0.1);
  /* background-color: #566573; */
  color: white;
}
body{
  /* background-color: #7F8C8D ; */
  background-image: url(../img/back.jpeg);

}
.well{
  background: rgba(76, 175, 80, 0.1);
  color: white;
  border: 0px;
}
.col-md-4{
  color: white;
}
.h2{
  color: white;
  text-align: center;
}
